In [2]:
import pandas as pd

In [20]:
creditors = pd.read_csv('creditors.csv')
creditors.columns = ['Id', 'Product', 'Amount Owed']
creditors['Id'] = creditors['Id'].str.upper()

In [21]:
creditors.tail()

              Id Product  Amount Owed
8468  IG00329109      M3          110
8469  JF00329384      M3         5603
8470  SB00329406      M3        10088
8471  HF00329450      M3        22753
8472  DR00329461      M3          101

In [26]:
creditors.sort_values(by=['Id', 'Product'], ascending=False).head(20)

              Id Product  Amount Owed
759   ZZ00120076     PMB         4789
582   ZS00064999     PMB         5491
7568  ZS00064999      M3         1099
5442  ZS00064999      M2        22435
4039  ZS00064999      M1        13848
2497  ZP00332761     PMB         6315
2885  ZP00037114     PMB          115
396   ZJ00046409     PMB         3942
7526  ZJ00046409      M3          865
992   ZF00333850     PMB         2105
1743  ZE00274032     PMB         1966
3065  YT00137060     PMB           95
8127  YS00205337      M3         6171
6520  YS00205337      M2        11660
2223  YS00205238     PMB         1435
6462  YP00193974      M2          582
6010  YP00131780      M2         1014
4434  YP00131780      M1         1020
12    YP00093984     PMB         2107
580   YP00087472     PMB         4280

In [29]:
creditors.sort_values(by=['Product','Amount Owed'], ascending=False).head(20)

              Id Product  Amount Owed
2967  PH00320221     PMB       987029
3633  NY00223333     PMB       453134
3673  JH00320210     PMB       354825
2977  SL00317977     PMB       158019
3466  TT00323906     PMB       117935
2012  SP00167860     PMB        98978
2902  SH00066220     PMB        98698
574   SM00014905     PMB        91625
2187  SM00098340     PMB        88394
2534  MP00333311     PMB        65331
2064  TM00177892     PMB        57397
3580  TL00177881     PMB        57397
1941  RD00165385     PMB        55031
541   KN00187385     PMB        51416
1712  AC00177804     PMB        50411
2760  IB00238546     PMB        49272
665   JP00071071     PMB        48238
3675  ML00339900     PMB        47298
760   AH00078133     PMB        46616
3739  RP00153670     PMB        43176

In [76]:
creditors.sort_values(by=['Amount Owed'], ascending=False).head(20)

              Id Product  Amount Owed
2967  PH00320221     PMB       987029
3633  NY00223333     PMB       453134
6916  MB00271623      M2       417217
3673  JH00320210     PMB       354825
5983  JK00128689      M2       308262
4575  DR00100166      M1       225419
5988  RP00129019      M2       199603
7257  ES00309870      M2       196634
4829  SH00066220      M1       179019
2977  SL00317977     PMB       158019
4585  DT00179949      M1       154134
7374  KP00319913      M2       150511
4998  PR00012804      M2       146819
5084  VM00022737      M2       138927
5225  AC00038907      M2       132655
4937  AN00171391      M1       130658
4489  DG00139579      M1       124200
6457  JT00192819      M2       123452
6601  PJ00221463      M2       119589
3466  TT00323906     PMB       117935

In [31]:
creditors.groupby("Product")["Amount Owed"].count()

Product
M1     1214
M2     2415
M3     1074
PMB    3770
Name: Amount Owed, dtype: int64

In [37]:
creditors.groupby(["Id", "Product"])["Amount Owed"].sum()

Id          Product
*M00119251  M2           567
AA00014883  M2         13830
AA00038753  PMB         2343
AA00038995  PMB          849
AA00050072  M1          1010
                       ...
ZS00064999  M1         13848
            M2         22435
            M3          1099
            PMB         5491
ZZ00120076  PMB         4789
Name: Amount Owed, Length: 8473, dtype: int64

In [40]:
creditors['Amount Owed'].sum()

62349367

In [38]:
creditors['Amount Owed'].mean()

7358.594004484834

In [39]:
creditors['Amount Owed'].median()

3182.0

In [41]:
creditors['Amount Owed'].describe()

count      8473.000000
mean       7358.594004
std       18520.932370
min          39.000000
25%        1485.000000
50%        3182.000000
75%        7388.000000
max      987029.000000
Name: Amount Owed, dtype: float64

In [42]:
creditors['Amount Owed'].describe(percentiles=[0.1,0.3,0.65,0.8])

count      8473.000000
mean       7358.594004
std       18520.932370
min          39.000000
10%         362.000000
30%        1972.000000
50%        3182.000000
65%        5163.600000
80%       10065.600000
max      987029.000000
Name: Amount Owed, dtype: float64

In [43]:
creditors['Amount Owed'].mode()

0    2108
dtype: int64

In [46]:
creditors['Amount Owed'].nsmallest(10)

1374    39
1725    39
1744    39
1987    39
2210    39
2294    39
2939    39
3475    39
3631    39
1235    40
Name: Amount Owed, dtype: int64

In [68]:
creditors['Amount Owed'].nlargest(20)

2967    987029
3633    453134
6916    417217
3673    354825
5983    308262
4575    225419
5988    199603
7257    196634
4829    179019
2977    158019
4585    154134
7374    150511
4998    146819
5084    138927
5225    132655
4937    130658
4489    124200
6457    123452
6601    119589
3466    117935
Name: Amount Owed, dtype: int64

In [70]:
indexes = creditors['Amount Owed'].nlargest(20).index

In [64]:
creditors.iloc[3466]

Id             TT00323906
Product               PMB
Amount Owed        117935
Name: 3466, dtype: object

In [72]:
top_twenty = []

In [74]:
for i in indexes:
    top_twenty.append(creditors.iloc[i])

In [75]:
pd.DataFrame(top_twenty)

              Id Product  Amount Owed
2967  PH00320221     PMB       987029
3633  NY00223333     PMB       453134
6916  MB00271623      M2       417217
3673  JH00320210     PMB       354825
5983  JK00128689      M2       308262
4575  DR00100166      M1       225419
5988  RP00129019      M2       199603
7257  ES00309870      M2       196634
4829  SH00066220      M1       179019
2977  SL00317977     PMB       158019
4585  DT00179949      M1       154134
7374  KP00319913      M2       150511
4998  PR00012804      M2       146819
5084  VM00022737      M2       138927
5225  AC00038907      M2       132655
4937  AN00171391      M1       130658
4489  DG00139579      M1       124200
6457  JT00192819      M2       123452
6601  PJ00221463      M2       119589
3466  TT00323906     PMB       117935

In [50]:
len(creditors['Id'].unique())

5975

In [51]:
len(creditors['Product'].unique())

4

In [52]:
len(creditors['Amount Owed'].unique())

4962

In [53]:
creditors['Amount Owed'].count()

8473